<!DOCTYPE html>
<html lang="en" ng-app="cubeApp">
<head>
  <meta charset="utf-8">
  <title>Cube Experiment</title>
  <link rel="stylesheet" href="css/site.css">
  <script src="js/main.js"></script>
</head>
<body ng-controller="cubeController">
  
  <div ng-click=";">{{Transformations()}}</div>
  <div class="wrap" 
        ng-click="Left()"
        
        ng-swipe-right ="alert('right')">
    
    <div id="cube" style={{Transformations()}}>
      <div class="front">
      </div>
      <div class="back">
        <video src={{videoFile}}></video>
      </div>
      <div class="right">
        <video src={{videoFile}}></video>
      </div>
      <div class="left">
        <video src={{videoFile}}></video>
      </div>
      <div class="top">
        <video src={{videoFile}}></video>
      </div>
      <div class="bottom">
        <video src={{videoFile}}></video>
      </div>
    </div>
  </div>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/cubeController.js"></script>
</body>
</html>